@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    margin: 0;
    padding: 0;
}

.home{
    display:flex;
    margin-top: 70px;
}
.devpic{
    margin-top: 19px;
    margin-left: 244px;
}
.devinfo{
    margin-left: 130px;
    margin-top: 169px;
    font-family: "Sedan SC", serif;
}
/*meanu bar*/
h1.Hello {
    font-size: 45px;
    color: white;
}

h3.branch {
    font-size: 32px;
    color: white;
}

h4.about {
    font-size: 21px;
    color: white;
}


nav {
    margin-bottom: 19px;
    height: 75px;
    padding-top: 23px;
    background-color: #12121C;
}
img.pic {
    height: 80px;
    width: 334px;
    margin-left: 39px;
}


.kp1{
    margin-right:25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
    margin-left: 383px;
}

.kp2{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}

.kp3{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}
.kp4{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}
.kp5{
    margin-right: 15px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}
img {
    width: 98%;
    height: 550px;
}