@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*meanu bar*/
h1.Hello {
    font-size: 45px;
    color: white;
}

h3.branch {
    font-size: 32px;
    color: white;
}

h4.about {
    font-size: 21px;
    color: white;
}

.sidebar{
    height: 30px;
}
nav {
    margin-bottom: 19px;
    height: 75px;
    padding-top: 23px;
    background-color: #12121C;
}
img.pic {
    height: 80px;
    width: 334px;
    margin-left: 39px;
}


.kp1{
    margin-right:25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
    margin-left: 383px;
}

.kp2{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}

.kp3{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}
.kp4{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}
.kp5{
    margin-right: 15px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}
/*(home page)*/
.main{
    /*background-color:rgb(58, 139, 139);*/
    width:85vw ;
}
.container{
    display:flex;
}
.infocontainer{
    /*background-color:rgb(58, 139, 139);*/
    height: 60vh;
    width: 80vw;
    margin: 170px auto;
    display: flex;
    justify-content:space-around;
    font-family: "Roboto Slab", serif;
}

/*(contact form)*/
.contactform{
    font-family: "Sedan SC", serif;
    padding-top: 20px;
    padding-left: 30px;

}
form {
    margin-top: 40px;
    margin-left: 450px;
}
h1 {
    margin-top: 100px;
    margin-left: 372px;
}
.contactform h1{
    font-family: "Roboto Slab", serif;
}
.contactform form div{
    padding: 5px 0;

}
.mb-3{
    display: flex;
    flex-direction: column;
    width: 30vw;
    color: white;
}
.form-control{
    border-radius: 7px;
}
.form-text{
    font-size: 10px;

}
.submit-btn{
    background-color:  #12121C;
    color: white;
    font-size: 17px;
    margin-top: 5%;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    border-color: rgb(202, 72, 49) ;
}
.form-check-label{
    color: white;
}
h1 {
    color: white;
}
.formlabel{
    color: white;
}
/*(social media)*/
.social10 {
    margin-top: 27px;
    margin-bottom: 32px;
    margin-left: 544px;
}
.a1{
    margin-right: 1%;
}
.a2{
    margin-right: 1%;
    margin-left: 0%;
}
.a3{
    margin-right: 1%;
    margin-left: 0%;
}
.a4{
    margin-right: 1%;
    margin-left: 0%;
}