
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*meanu bar*/
h1.Hello {
    font-size: 45px;
    color: white;
}

h2{
    color: rgb(168, 45, 23);
}
h3.branch {
    font-size: 32px;
    color: white;
}

h4.about {
    font-size: 21px;
    color: white;
}

.sidebar{
    height: 30px;
}
nav {
    margin-bottom: 19px;
    height: 75px;
    padding-top: 23px;
    background-color: #12121C;
}
img.pic {
    height: 80px;
    width: 334px;
    margin-left: 39px;
}


.kp1{
    margin-right:25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
    margin-left: 383px;
}

.kp2{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}

.kp3{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}
.kp4{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}
.kp5{
    margin-right: 15px;
    text-decoration: none;
    color: white;
    font-family: "Roboto Slab", serif;
}

.column {
    float: left;
    width: 25%;
    padding-right: 80px;
    color: white;
    text-align: justify;
  }
  .lop{
    background-color: #12121C;
    margin-top: -6px;
  }
  b{
    color: #12121C;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    margin-top: 55px;
    margin-left: 147px;
}
h1.uop {
    margin-top: 73px;
    margin-left: 148px;
    font-family: "Roboto Slab", serif;
}
